data/
subcat/
plots/
test*.png
tmp*

# Backup files
*~
*.save
*.save.[0-9]
__pycache__

# Python module files
*.pyc

# IPython notebook
*.ipynb_checkpoints

# Spyder
.spyproject

# Latex auxiliary files
*.aux
*.blg
*.log
*.out

# TeXnicle auxiliary files
*.synctex.gz

# Max OSX files
*.DS_Store
