data


# Backup files
*~
*.save

# Python module files
*.pyc

# IPython notebook
*.ipynb_checkpoints

# Latex auxiliary files
*.aux
*.blg
*.log

# TeXnicle auxiliary files
*.synctex.gz

# Max OSX files
*.DS_Store
